<div class="page-header">
  <h1>
    Destination cities
    <a href="/destination_cities/new" class="btn btn-lg btn-success">New Destination city</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Actions</th>
      </tr>

      <% @destination_cities.each do |destination_city| %>
      <tr>
        <td>
          <a href="/destination_cities/<%= destination_city.id %>" class="btn btn-primary">Show</a>
          <a href="/destination_cities/<%= destination_city.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_destination_city/<%= destination_city.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
