<div class="page-header">
  <h3>Destination Airport #<%= @destination_airport.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/destination_airports" class="btn btn-primary">
        Back
      </a>
      <a href="/destination_airports/<%= @destination_airport.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_destination_airport/<%= @destination_airport.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
